<div class="header">
  <div>
    <img class="logo" src="assets/images/logo-dark.svg">
  </div>
  <div class="header-menu">
    <div class="header-menu-item">
      <a href="/#news">Новини</a>
      <hr/>
    </div>
    <div class="header-menu-item">
      <a href="/#tracks">Треки учасників</a>
      <hr/>
    </div>
    <div class="header-menu-item">
      <a href="/#about">Про захід</a>
      <hr/>
    </div>
  </div>
  <div *ngIf="!isLoggedIn" style="width: 120px">
    <app-button (clicked)="openAuthDialog()" title="Вхід"></app-button>
  </div>
  <div *ngIf="isLoggedIn" style="display: flex; align-items: center">
    <div *ngIf="nickname" style="margin-right: 12px;">
      Вітаємо, {{nickname}}
    </div>
    <div style="width: 120px">
      <app-button (clicked)="signOut()" title="Вихід"></app-button>
    </div>
  </div>
</div>
