<div class="header">
  <div>
    <a href="/">
      <img class="logo" src="assets/images/logo-dark.svg">
    </a>
  </div>
  <div class="header-menu">
    <div class="header-menu-item">
      <a href="/#news">Новини</a>
      <hr/>
    </div>
    <div class="header-menu-item">
      <a href="/#tracks">Треки учасників</a>
      <hr/>
    </div>
    <div class="header-menu-item">
      <a href="/#about">Про захід</a>
      <hr/>
    </div>
  </div>
  <div>
    <app-button title="Вхід"></app-button>
  </div>
</div>
