.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 600px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.header-menu {
  display: flex;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.header-menu-item {
  margin-right: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 700px) {
    margin-right: 16px;
  }

  hr {
    width: 18px;
    height: 1px;
    position: absolute;
    background: #C80F2E;
    border: 0;
    display: none;
    margin-top: 24px;
  }
}

.header-menu-item:hover {
  hr {
    display: block;
  }
}

.header-menu-item:last-child {
  margin-right: 0;
}

.logo {
  width: 110px;
  height: 32px;
}

.nickname {
  margin-right: 12px;

  @media screen and (max-width: 450px) {
    margin-right: 8px;
    margin-left: 8px;
  }
}
