.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 34px;

  @media screen and (max-width: 850px) {
    flex-wrap: wrap;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 850px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.footer-date {
  color: rgba(255, 255, 255, 0.20);
  font-weight: 400;
}

.footer-logo {
  img {
    width: 110px;
    height: 40px;
  }
}

.footer-links-container {
  display: flex;

  @media screen and (max-width: 900px) {
    width: 100%;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.footer-link {
  margin-right: 104px;

  &:last-child {
    margin-right: 42px;
  }

  @media screen and (max-width: 850px) {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.link-item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    position: relative;
    font-weight: 400;
  }
}

.link-item:hover {
  hr {
    display: block;
  }
}

hr {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #C80F2E;
  border: 0;
  display: none;
  margin-top: 4px;
}
