<div class="footer-container">
  <div class="footer-left">
    <div class="footer-logo">
      <img alt="Лого" height="40" src="assets/images/logo-dark-with-text.svg" width="110"/>
    </div>
    <div class="footer-date">
      Оцінюємо ваші треки<br>
      з 2023 року.
    </div>
  </div>
  <div class="footer-links-container">
    <div class="footer-link navigation-footer-link">
      <div class="link-item">Навігація</div>
      <div class="link-item">
        <a href="/#news">Новини
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/#tracks">Треки учасників
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/#about">Про захід
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/#news">Здати трек
          <hr/>
        </a>
      </div>
    </div>
    <div class="footer-link">
      <div class="link-item">Соціальні мережі</div>
      <div class="link-item">
        <a href="https://instagram.com/exitbattle" rel="noopener noreferrer" target="_blank">Instagram
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="https://twitter.com/uarapean" rel="noopener noreferrer" target="_blank">Twitter
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="https://soundcloud.com/exitbattle" rel="noopener noreferrer" target="_blank">SoundCloud
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="https://t.me/exitbattle" rel="noopener noreferrer" target="_blank">Telegram
          <hr/>
        </a>
      </div>
    </div>
    <div class="footer-link">
      <div class="link-item">Спонсори</div>
      <div class="link-item">
        <a href="https://www.instagram.com/batcatshop/" rel="noopener noreferrer" target="_blank">Бренд одягу БетКет
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="https://www.instagram.com/punchmanglavaua/" rel="noopener noreferrer" target="_blank">Hokku Barbershop
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="https://muzika.ua/" rel="noopener noreferrer" target="_blank">Muzika Agency
          <hr/>
        </a>
      </div>
    </div>
    <div class="footer-link">
      <div class="link-item">Зворотній зв’язок</div>
      <div class="link-item">
        <a href="/">Telegram
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/">Email
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/">Мобіла Вадима
          <hr/>
        </a>
      </div>
      <div class="link-item">
        <a href="/">Ще щось
          <hr/>
        </a>
      </div>
    </div>
  </div>
</div>
