.tracks-block {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 24px;
  margin-top: 24px;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 450px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.tracks-block-title {
  width: 100%;

  h1 {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
  }
}

.audio-container {
  display: grid;
  align-content: flex-start;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 394px);
  margin-top: 16px;
  min-height: 480px;
  width: 100%;

  @media screen and (max-width: 415px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.audio-container-pair {
  margin-top: 16px;
  min-height: 464px;
  width: 100%;
}

.audio-container-row {
  @media screen and (max-width: 415px) {
    width: 100%;
  }
}

.pair-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.audio-container-row-pair {
  max-width: 394px;
  width: 100%;
}

.tracks-top-row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;

  @media screen and (max-width: 430px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.rounds-container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 415px) {
    justify-content: center;
  }
}

.round {
  cursor: pointer;
  width: 117px;
  height: 32px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-bottom: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.round-active {
  background: #C80F2E;
  color: #FFF;
  border: 1px solid #C80F2E;
}

.round-inactive {
  border: 1px solid #FFF;
  opacity: 0.2;
  background: rgba(255, 255, 255, 0.05);
}

.tracks-paginator {
  margin-top: 44px;
  width: 100%;

  @media screen and (max-width: 800px) {
    margin-top: 24px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

.paginator-total {
  opacity: 0.5;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: fixed;
  height: 32px;

  @media screen and (max-width: 800px) {
    margin-top: 16px;
    position: static;
  }
}

.paginator-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 600px) {
    justify-content: center;
    width: 100%;
  }
}

.paginator {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  width: 116px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  margin-left: 24px;

  @media screen and (max-width: 500px) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.round-theme {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  width: 100%;
  text-align: center;
}

.search-input {
  margin-bottom: 16px;
  width: 100%;

  @media screen and (min-width: 430px) {
    max-width: 300px;
  }
}
