<div class="tracks-block" id="tracks">
  <div class="tracks-block-title">
    <h1>Треки учасників</h1>
  </div>

  <div class="tracks-top-row">
    <div class="rounds-container">
      <div (click)="selectRound(round)" *ngFor="let round of rounds"
           [class.round-active]="round.number === selectedRound.number"
           [class.round-inactive]="round.number !== selectedRound.number"
           class="round">
        {{round.name}}
      </div>
    </div>
    <div>
      <app-input [placeholder]="'Пошук...'" [searchIcon]="true"></app-input>
    </div>
  </div>

  <div class="audio-container">
    <div *ngFor="let track of tracks" class="audio-container-row">
      <app-audio [clickable]="true" [totalNumberOfJudges]="selectedRound.totalNumberOfJudges" [track]="track"
                 [width]="395"></app-audio>
    </div>
  </div>

  <div class="tracks-paginator">
    <div class="paginator-total">
      Всього здано: {{this.numberOfTracks}} треків
    </div>
    <div class="paginator-container">
      <div (click)="prevPage()" class="arrow">
        <img alt="Ліва стрілка" height="16" src="assets/images/arrow-left.svg" width="16">
      </div>
      <div class="paginator">
        {{getPageNumberInFormat()}} / {{getTotalPagesInFormat()}}
      </div>
      <div (click)="nextPage()" class="arrow">
        <img alt="Права стрілка" height="16" src="assets/images/arrow-right.svg" width="16">
      </div>
    </div>
    <div style="width: 140px">
      <app-button (clicked)="openTrackUploadDialog()" [red]="true" title="Здати трек"></app-button>
    </div>
  </div>
</div>
