<div class="tracks-block" id="tracks">
  <div class="tracks-block-title">
    <h1>Треки учасників</h1>
  </div>

  <div class="tracks-top-row">
    <div class="rounds-container">
      <ng-container *ngFor="let round of rounds">
        <div (click)="selectRound(round)" *ngIf="round.available"
             [class.round-active]="round.number === selectedRound.number"
             [class.round-inactive]="round.number !== selectedRound.number"
             class="round">
          {{ round.name }}
        </div>
      </ng-container>
    </div>
    <div class="search-input">
      <app-input (value)="onSearch($event)" [placeholder]="'Пошук...'" [searchIcon]="true"></app-input>
    </div>
  </div>

  <div class="round-theme">
    Тема раунду: {{ selectedRound.theme }}
  </div>

  <div *ngIf="!isPairedRound" class="audio-container">
    <ng-container *ngIf="allTracks.length !== 0 && tracks.length === 0">
      <h1></h1>
      <h1 style="text-align: center">Не знайдено треків</h1>
    </ng-container>
    <ng-container *ngIf="allTracks.length === 0" style="width: 100%">
      <h1></h1>
      <h1 style="text-align: center">Ще немає треків</h1>
    </ng-container>
    <div *ngFor="let track of tracks; trackBy: trackByTrack;" class="audio-container-row">
      <app-audio [clickable]="true" [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                 [playbackCount]="track.playbackCount"
                 [track]="track"></app-audio>
    </div>
  </div>

  <div *ngIf="isPairedRound" class="audio-container-pair">
    <div *ngIf="allPairsWithTracks.length !== 0 && pairs.length === 0">
      <h1>Не знайдено треків</h1>
    </div>
    <div *ngFor="let pair of pairs; trackBy: trackByPair;" class="pair-row">
      <div [class.pair-tittle-container-final]="pair.round >= 7" [class.pair-tittle-container]="pair.round < 7">
        <div [class.pair-tittle-text-left-final]="pair.round >= 7">
          {{ pair.customName == null ? 'Пара №' + pair.number : pair.customName }}
        </div>
        <div *ngIf="!allTracksAreUploaded(pair); else uploadedTracks"
             [class.pair-tittle-text-right-final]="pair.round >= 7"
             class="yellow">
          Очікуємо на композиції
        </div>
        <ng-template #uploadedTracks>
          <div *ngIf="!allMarksAreSet(pair); else judgedTracks" [class.pair-tittle-text-right-final]="pair.round >= 7"
               class="yellow">
            Очікуємо на оцінки
          </div>
          <ng-template #judgedTracks>
            <div *ngIf="determineWinner(pair) as winner; else noWinner"
                 [class.pair-tittle-text-right-final]="pair.round >= 7">
              Переможець: <span class="green">{{ winner }}</span>
            </div>
            <ng-template #noWinner>
              <div [class.pair-tittle-text-right-final]="pair.round >= 7" class="yellow">Очікуємо на оцінки</div>
            </ng-template>
          </ng-template>
        </ng-template>
      </div>
      <div class="pair">
        <div class="audio-container-row-pair">
          <app-audio [clickable]="pair.leftTrack != null" [pairNickname]="pair.leftNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [playbackCount]="pair.leftTrack.playbackCount"
                     [track]="pair.leftTrack"></app-audio>
        </div>
        <div *ngIf="pair.middleNickname != null" class="audio-container-row-pair">
          <app-audio [clickable]="pair.middleTrack != null" [pairNickname]="pair.middleNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [playbackCount]="pair.middleTrack.playbackCount"
                     [track]="pair.middleTrack"></app-audio>
        </div>
        <div *ngIf="pair.middleNickname == null" class="audio-container-row-pair hr-line-container-row">
          <div class="hr-line-container">
            <div class="hr-line" style="margin-right: 24px"></div>
            <div class="VS">VS</div>
            <div class="hr-line" style="margin-left: 24px"></div>
          </div>
        </div>
        <div class="audio-container-row-pair">
          <app-audio [clickable]="pair.rightTrack != null" [pairNickname]="pair.rightNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [playbackCount]="pair.rightTrack.playbackCount"
                     [track]="pair.rightTrack"></app-audio>
        </div>
      </div>
    </div>
  </div>

  <div class="tracks-paginator">
    <div class="paginator-total">
      Всього здано: {{ this.numberOfTracks }} треків
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
      <div class="paginator-container">
        <div (click)="prevPage()" class="arrow">
          <img alt="Ліва стрілка" height="20" src="assets/images/arrow-left.svg" width="20">
        </div>
        <div class="paginator">
          {{ getPageNumberInFormat() }} / {{ getTotalPagesInFormat() }}
        </div>
        <div (click)="nextPage()" class="arrow">
          <img alt="Права стрілка" height="20" src="assets/images/arrow-right.svg" width="20">
        </div>
      </div>
    </div>
  </div>
</div>
