<div class="tracks-block" id="tracks">
  <div class="tracks-block-title">
    <h1>Треки учасників</h1>
  </div>

  <div class="tracks-top-row">
    <div class="rounds-container">
      <ng-container *ngFor="let round of rounds">
        <div (click)="selectRound(round)" *ngIf="round.available"
             [class.round-active]="round.number === selectedRound.number"
             [class.round-inactive]="round.number !== selectedRound.number"
             class="round">
          {{round.name}}
        </div>
      </ng-container>
    </div>
    <div class="search-input">
      <app-input (value)="onSearch($event)" [placeholder]="'Пошук...'" [searchIcon]="true"></app-input>
    </div>
  </div>

  <div class="round-theme">
    Тема раунду: {{selectedRound.theme}}
  </div>

  <div *ngIf="!isPairedRound" class="audio-container">
    <div *ngIf="allTracks.length !== 0 && tracks.length === 0">
      <h1>Не знайдено треків</h1>
    </div>
    <div *ngIf="allTracks.length === 0">
      <h1>Ще немає треків</h1>
    </div>
    <div *ngFor="let track of tracks; trackBy: trackByTrack;" class="audio-container-row">
      <app-audio [clickable]="true" [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                 [track]="track"></app-audio>
    </div>
  </div>

  <div *ngIf="isPairedRound" class="audio-container-pair">
    <div *ngIf="allTracks.length !== 0 && pairs.length === 0">
      <h1>Не знайдено треків</h1>
    </div>
    <div *ngIf="allTracks.length === 0">
      <h1>Ще немає треків</h1>
    </div>
    <div *ngFor="let pair of pairs; trackBy: trackByPair;" class="pair-row">
      <div class="pair-tittle-container">
        <div>
          {{pair.middleNickname == null ? 'Пара №' : 'Трійка №'}}{{pair.number}}
        </div>
        <div *ngIf="!allTracksAreUploaded(pair)" class="yellow">
          Очікуємо на композиції
        </div>
        <div *ngIf="allTracksAreUploaded(pair) && !allMarksAreSet(pair)" class="yellow">
          Очікуємо на оцінки
        </div>
        <div *ngIf="allTracksAreUploaded(pair) && allMarksAreSet(pair)">
          Переможець: <span class="green">{{determineWinner(pair)}}</span>
        </div>
      </div>
      <div class="pair">
        <div class="audio-container-row-pair">
          <app-audio [clickable]="pair.leftTrack != null" [pairNickname]="pair.leftNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [track]="pair.leftTrack"></app-audio>
        </div>
        <div *ngIf="pair.middleNickname != null" class="audio-container-row-pair">
          <app-audio [clickable]="pair.middleTrack != null" [pairNickname]="pair.middleNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [track]="pair.middleTrack"></app-audio>
        </div>
        <div *ngIf="pair.middleNickname == null" class="audio-container-row-pair hr-line-container-row">
          <div class="hr-line-container">
            <div class="hr-line"></div>
          </div>
        </div>
        <div class="audio-container-row-pair">
          <app-audio [clickable]="pair.rightTrack != null" [pairNickname]="pair.rightNickname"
                     [totalNumberOfJudges]="selectedRound.totalNumberOfJudges"
                     [track]="pair.rightTrack"></app-audio>
        </div>
      </div>
    </div>
  </div>

  <div class="tracks-paginator">
    <div class="paginator-total">
      Всього здано: {{this.numberOfTracks}} треків
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
      <div class="paginator-container">
        <div (click)="prevPage()" class="arrow">
          <img alt="Ліва стрілка" height="20" src="assets/images/arrow-left.svg" width="20">
        </div>
        <div class="paginator">
          {{getPageNumberInFormat()}} / {{getTotalPagesInFormat()}}
        </div>
        <div (click)="nextPage()" class="arrow">
          <img alt="Права стрілка" height="20" src="assets/images/arrow-right.svg" width="20">
        </div>
      </div>
    </div>
  </div>
</div>
