.about-block {
  display: flex;
  margin-top: 24px;

  @media screen and (max-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-menu-container {
  margin-right: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  padding: 24px;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }

  @media screen and (max-width: 450px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.menu-item {
  cursor: pointer;
  min-width: 240px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-item-unselected {
  border-radius: 8px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.05);
}

.menu-item-selected {
  border-radius: 8px;
  border: 1px solid #C80F2E;
  background: #C80F2E;
}

.about-content {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  padding: 24px;

  h1 {
    margin: 0;
    width: 100%;
  }

  h2 {
    margin-top: 6px;
  }

  p {
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 24px;
  }

  @media screen and (max-width: 450px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.judge-row {
  margin-top: 24px;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
}

.judge-row-icon {
  margin-right: 24px;

  img {
    width: 200px;
    border-radius: 8px;
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
}

.judge-row-text {

  h2 {
    font-size: 20px;
    margin-top: 0;
  }

  p {
    margin-top: 16px;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 24px;
  }
}
