<div class="about-block" id="about">
  <div class="about-menu-container">
    <div (click)="selectFooterMenuItem(item.index)" *ngFor="let item of menuItems"
         [class.menu-item-selected]="item.index === selectedFooterMenuIndex"
         [class.menu-item-unselected]="item.index !== selectedFooterMenuIndex"
         class="menu-item">
      {{item.name}}
    </div>
  </div>
  <div class="about-content">
    <h1>{{getCurrentFooterMenuName()}}</h1>
    <div *ngIf="selectedFooterMenuIndex === 0">
      <h2>Основна мета онлайн-баттлу "Exit Battle"</h2>
      <p>
        Ми віримо в силу слова та реп-музики як засобу вираження думок, емоцій та боротьби за своє місце у світі. Наш
        реп-баттл направлений на те, щоби знайти нові таланти та дати їм можливість розкритися у повному обсязі. Ми
        хочемо зробити реп-ком`юніті більш різноманітним та відкритим для кожного, хто має щось сказати і любить
        баттл-реп.
      </p>
      <p>
        Учасники реєструються на платформі, де проводиться баттл. Вони мають можливість подати свої треки, які вони
        готують у відповідності до теми та вимог раунду.
      </p>
      <p>
        Після завершення реєстрації починається відбірковий раунд. Судді оцінюють подані аудіо-роботи з урахуванням
        якості текстів та виконання. Найкращі треки переходять до наступних етапів.
      </p>
      <p>
        Кількість відбіркових раундів залежить від кількості зданих треків на перший відбірковий раунд. Якщо на перший
        відбірковий раунд буде здано від 32 до 64 треків - далі проходять 32 учасники і розбиваються на пари в 1/16.
        Якщо на перший відбірковий раунд буде здано понад 64 треки - далі проходять 64 учасники і проводиться другий
        відбірковий раунд, з якого пройдуть далі 32 учасники і розіб'ються на пари в 1/16.
      </p>
      <p>
        Відповідно після 1/16 проходить 1/8, чвертьфінал, півфінал і фінал. Учасники, які програли в півфіналі,
        змагатимуться за третє місце, яке є призовим.
      </p>
      <p>
        Учасники оцінюються журі, яке складається з авторитетних і відомих осіб у реп-середовищі.
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 2">
      <p>Максимальна оцінка за трек - 12 балів.</p>
      <p>
        Оцінка складається з трьох критеріїв - аудіальність (5 балів), текстуальність (5 балів), власне враження (2
        бали).
      </p>
      <p>
        Аудіальність - до цього критерію відносимо оцінювання всього, що сприймаємо на слух (біт, зведення, флоу
        виконавця, мелодика і ритміка).
      </p>
      <p>
        Текстуальність - цей критерій містить в собі оцінювання рим, панчлайнів, розкриття теми/направленності на
        опонента.
      </p>
      <p>
        Власне враження - критерій, який містить в собі суб'єктивний смак судді.
      </p>
      <p>
        У відборі можна отримати додатковий бал, зробивши трек під запропонований організаторами біт від українських
        продюсерів. Таким чином можна зробити трек на 13 балів. Цей бонус розповсюджуватиметься виключно на відбір.
      </p>
    </div>
  </div>
</div>
