<div class="about-block" id="about">
  <div class="about-menu-container">
    <div (click)="selectFooterMenuItem(item.index)" *ngFor="let item of menuItems"
         [class.menu-item-selected]="item.index === selectedFooterMenuIndex"
         [class.menu-item-unselected]="item.index !== selectedFooterMenuIndex"
         class="menu-item">
      {{item.name}}
    </div>
  </div>
  <div class="about-content">
    <h1 *ngIf="selectedFooterMenuIndex != 1">{{getCurrentFooterMenuName()}}</h1>
    <div *ngIf="selectedFooterMenuIndex === 0">
      <p>
        Ми віримо в силу слова та реп-музики як засобу вираження думок, емоцій та боротьби за своє місце у світі. Наш
        реп-баттл направлений на те, щоби знайти нові таланти та дати їм можливість розкритися у повному обсязі. Ми
        хочемо зробити реп-ком`юніті більш різноманітним та відкритим для кожного, хто має щось сказати і любить
        баттл-реп.
      </p>
      <p>
        Учасники реєструються на платформі, де проводиться баттл. Вони мають можливість подати свої треки, які вони
        готують у відповідності до теми та вимог раунду.
      </p>
      <p>
        Після завершення реєстрації починається відбірковий раунд. Судді оцінюють подані аудіо-роботи з урахуванням
        якості текстів та виконання. Найкращі треки переходять до наступних етапів.
      </p>
      <p>
        Кількість відбіркових раундів залежить від кількості зданих треків на перший відбірковий раунд. Якщо на перший
        відбірковий раунд буде здано від 32 до 64 треків - далі проходять 32 учасники і розбиваються на пари в 1/16.
        Якщо на перший відбірковий раунд буде здано понад 64 треки - далі проходять 64 учасники і проводиться другий
        відбірковий раунд, з якого пройдуть далі 32 учасники і розіб'ються на пари в 1/16.
      </p>
      <p>
        Відповідно після 1/16 проходить 1/8, чвертьфінал, півфінал і фінал. Учасники, які програли в півфіналі,
        змагатимуться за третє місце, яке є призовим.
      </p>
      <p>
        Учасники оцінюються журі, яке складається з авторитетних і відомих осіб у реп-середовищі.
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 2">
      <p>Максимальна оцінка за трек - 12 балів.</p>
      <p>
        Оцінка складається з трьох критеріїв - аудіальність (5 балів), текстуальність (5 балів), власне враження (2
        бали).
      </p>
      <p>
        Аудіальність - до цього критерію відносимо оцінювання всього, що сприймаємо на слух (біт, зведення, флоу
        виконавця, мелодика і ритміка).
      </p>
      <p>
        Текстуальність - цей критерій містить в собі оцінювання рим, панчлайнів, розкриття теми/направленності на
        опонента.
      </p>
      <p>
        Власне враження - критерій, який містить в собі суб'єктивний смак судді.
      </p>
      <p>
        У відборі можна отримати додатковий бал, зробивши трек під запропонований організаторами біт від українських
        продюсерів. Таким чином можна зробити трек на 13 балів. Цей бонус розповсюджуватиметься виключно на відбір.
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 3">
      <p>
        Призовий фонд баттлу - <strong>45000 грн.</strong>
      </p>
      <p>
        Винагороди розподіляються наступним чином:
      </p>
      <p>
        1 місце - 30000 грн + подарунки від спонсорів<br>
        2 місце - 10000 грн + подарунки від спонсорів<br>
        3 місце - 5000 грн + подарунки від спонсорів
      </p>
      <p>
        Нехай переможе найсильніший!
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 4">
      <p>
        1. Усвідомте що таке баттл-культура. Якщо певні її особливості несумісні з вашими життєвими принципами - краще
        не реєструйтесь. <strong>Все, що сказано на баттлі, лишається на баттлі.</strong>
      </p>
      <p>
        <strong>2. Вмійте визнавати поразку.</strong> Не вступайте в конфлікти з Суддями, Організаторами і суперниками.
        В разі порушень,
        вас буде <strong>забанено і недопущено</strong> до наступних сезонів баттлу.
      </p>
      <p>
        3. Треки, надані вами на батлі, можуть використовуватися в соц.мережах Exit Battle і платформах медійних
        партнерів і спонсорів.
      </p>
      <p>
        4. Мова виконання - виключно <strong>українська</strong>. Треки російською, англійською і рештою іноземних мов
        будуть
        <strong>дискваліфіковані</strong>.
      </p>
      <p>
        5. Треки, які не відповідатимуть вимогам раунду (порушення таймінгу, залучення іншого МС до виконання треку,
        здача ваших старих треків під виглядом нових і т.і.) можуть бути <strong>оштрафовані</strong> (зняття балів) або
        <strong>дискваліфіковані</strong>.
      </p>
      <p>
        6. За вказання в графі "Текст треку" недостовірної або іншої інформації, яка не має відношення до вашого тексту
        - <strong>штраф (зняття балів).</strong>
      </p>
      <p>
        7. Максимальна кількість знятих балів за штраф - <strong>3 бали</strong>. Бали вираховуються із
        <strong>СУМАРНОЇ</strong> оцінки суддів.
      </p>
      <p>
        8. Треки після завершення сроку здачі ваших аудіо-робіт <strong>НЕ ПРИЙМАЮТЬСЯ.</strong> Сроки здачі треків є
        завжди оптимальними
        для того, щоби встигнути написати текст, записати і звести трек і вчасно його завантажити.
      </p>
      <p>
        9. <strong>Суддя не може давати нічию в парі.</strong>
      </p>
      <p>
        10. Якщо все ж таки по балам виходить нічия (наприклад 8.4 і 8.4), то враховуючи Правило 9 далі проходить той
        учасник, <strong>який набрав більше суддівських голосів</strong> (кількість суддів завжди непарна).
      </p>
      <p>
        11. <strong>Незнання правил заходу не звільняє вас від штрафів чи дискваліфікації.</strong>
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 1">
      <div class="judges-container">
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Креско" height="1160" src="assets/images/judge_cresco.jpg" width="1161"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">CRESCO</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець Король Заходу</div>
              <div class="judge-achievement-item">Фіналіст 9 сезону Підбіт</div>
              <div class="judge-achievement-item">Півфіналіст 13 сезону Підбіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/iamcresco/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Тур" height="455" src="assets/images/judge_tur.jpg" width="456"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Тур</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Фіналіст RapSoxBattle Gold Cup</div>
              <div class="judge-achievement-item">Півфіналіст Король Заходу</div>
              <div class="judge-achievement-item">Півфіналіст 2 і 5 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/tur_rap/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>

        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Гоня" height="431" src="assets/images/judge_gonya.jpg" width="431"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Гоня</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець 9 сезону Підбіт</div>
              <div class="judge-achievement-item">Фіналіст 13 сезону Підбіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/punchmanglavaua/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>

        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Міша Правильний" height="749" src="assets/images/judge_misha.jpg" width="749"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Міша Правильний</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Головний редактор rap.ua</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/misha_pravilniy/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Мамонт" height="433" src="assets/images/judge_mamont.jpg" width="433"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Мамонт</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Засновник баттлу Підбіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/mamontoman/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Денні Дельта" height="1385" src="assets/images/judge_delta.jpg" width="1384"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Денні Дельта</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Репер</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/gorealkapapi/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Міша MRK" height="279" src="assets/images/judge_misha_mrk.jpg" width="279"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Міша MRK</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець 4 сезону Pit Bull Battle</div>
              <div class="judge-achievement-item">Фіналіст 3 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/mishanyamrk/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото SIGHT MC" height="542" src="assets/images/judge_sight_mc.jpg" width="542"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">SIGHT MC</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Фіналіст 1 сезону Pit Bull Battle</div>
              <div class="judge-achievement-item">Фіналіст 2 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/sightmc/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото XXV кадр" height="664" src="assets/images/judge_25_frame.jpg" width="664"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">XXV кадр</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Співзасновник HVNGL Project</div>
              <div class="judge-achievement-item">Переможець 1 сезону HVNGL Battle</div>
              <div class="judge-achievement-item">Фіналіст 7 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/xxvkadr/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
      </div>
      <div class="judge-rounds-info">
        <p><strong>Відбір</strong> - CRESCO</p>
        <p><strong>1/16</strong> - суддівський склад буде оголошено на початку цього етапу</p>
        <p><strong>1/8</strong> - суддівський склад буде оголошено на початку цього етапу</p>
        <p><strong>1/4</strong> - суддівський склад буде оголошено на початку цього етапу</p>
        <p><strong>1/2</strong> - суддівський склад буде оголошено на початку цього етапу</p>
        <p><strong>Фінал + баттл за 3 місце</strong> - суддівський склад буде оголошено на початку цього етапу</p>
      </div>
    </div>

    <div *ngIf="selectedFooterMenuIndex === 5">
      <div class="sponsors-container">
        <a class="our-sponsr-item" href="https://muzika.ua/" rel="noopener noreferrer" target="_blank">
          <div class="sponsor-photo">
            <img alt="Фото MUZIKA" height="856" src="assets/images/muzika-agency.png"
                 style="padding: 4px; height: 160px;"
                 width="1314"/>
          </div>
          <div class="sponsor-info">
            <div class="sponsor-name">MUZIKA</div>
            <div class="sponsor-description">
              <p>
                <strong>Група музичних компаній MUZIKA</strong> - твій провідник у світ музичного бізнесу! Засновниками
                агенції надані такі призи переможцям:
              </p>
              <p>
                <strong>1 місце</strong> - повний пакет послуг (допрацювання демо, 3 години запису, зведення і мастеринг
                треку, співпраця в форматі менторства)
                <br/>
                <strong>2 місце</strong> - зведення і мастеринг треку, 2 години запису, консультація з музичного
                бізнесу/просування)
                <br/>
                <strong>3 місце</strong> - 1 година запису на студії, зведення і мастеринг треку
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="sponsors-container">
        <a class="our-sponsr-item" href="https://www.instagram.com/batcatshop/" rel="noopener noreferrer"
           target="_blank">
          <div class="sponsor-photo">
            <img alt="Фото БетКет" height="1035" src="assets/images/batcat.png"
                 style="padding: 4px; height: 100px;"
                 width="2954"/>
          </div>
          <div class="sponsor-info">
            <div class="sponsor-name">Шоурум бренду одягу БетКет</div>
            <div class="sponsor-description">
              <p>Разом із засновниками БетКет, ми надамо переможцям можливість розробити і випустити власний merch.
                Магазином буде розроблений логотип/візуальний елемент, який призер зможе розмістити на своєму одязі.
                Переможцям буде надана така кількість безкоштовних айтемів:
              </p>
              <p>
                <strong>1 місце</strong> - 3 футболки і 3 hoodie з власним лого
                <br/>
                <strong>2 місце</strong> - 2 футболки і 2 hoodie з власним лого
                <br/>
                <strong>3 місце</strong> - 1 футболка і 1 hoodie з власним лого
              </p>
              <p>
                Після отримання мерчу, переможець зможе збільшити кількість айтемів по демократичній ціні,
                відштовхуючись від власних потреб.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="sponsors-container">
        <a class="our-sponsr-item" href="https://www.instagram.com/punchmanglavaua/" rel="noopener noreferrer"
           target="_blank">
          <div class="sponsor-photo">
            <img alt="Фото Hokku Barbershop" height="1263" src="assets/images/logo_gonya.jpg"
                 style="object-fit: cover; height: 272px; max-width: 100%"
                 width="1010"/>
          </div>
          <div class="sponsor-info">
            <div class="sponsor-name">Hokku Barbershop</div>
            <div class="sponsor-description">
              <p>
                Хочеш отримати круту зачіску? Перемагай в баттлі і отримай безкоштовну стрижку від
                <strong>Гоні!</strong>
                Ігор є одним із
                найдосвідченіших барберів серед українських реперів, який 100% зробить тобі якісну стрижку і
                забезпечить
                тебе крутим образом.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
