.about-block {
  display: flex;
  margin-top: 24px;

  @media screen and (max-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about-menu-container {
  margin-right: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  padding: 24px;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin-bottom: 16px;
    margin-right: 0;
  }

  @media screen and (max-width: 450px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.menu-item {
  cursor: pointer;
  min-width: 240px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-item-unselected {
  border-radius: 8px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.05);
}

.menu-item-selected {
  border-radius: 8px;
  border: 1px solid #C80F2E;
  background: #C80F2E;
}

.about-content {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  padding: 24px;

  h1 {
    margin: 0;
    width: 100%;
  }

  h2 {
    margin-top: 6px;
  }

  p {
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
    line-height: 24px;
  }

  @media screen and (max-width: 500px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.judge-rounds-info {
  margin-top: 24px;

  p {
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.judges-container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 442px);

  @media screen and (max-width: 470px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.judge-box {
  display: flex;
  flex-direction: row;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #151518;

  @media screen and (max-width: 470px) {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
}

.judge-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.judge-photo {
  margin-right: 16px;

  img {
    width: 108px;
    height: 108px;
    border-radius: 12px;
    object-fit: cover;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 470px) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}

.judge-info {
  margin-right: auto;
}

.judge-achievements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.judge-achievement-item {
  margin-top: 8px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2px;
  border-radius: 4px;
  background: #1A1A1D;
  width: fit-content;
  padding: 4px 8px;
  margin-right: 8px;
}

.judge-instagram {
  cursor: pointer;

  @media screen and (max-width: 470px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
