<div class="about-block" id="about">
  <div class="about-menu-container">
    <div (click)="selectFooterMenuItem(item.index)" *ngFor="let item of menuItems"
         [class.menu-item-selected]="item.index === selectedFooterMenuIndex"
         [class.menu-item-unselected]="item.index !== selectedFooterMenuIndex"
         class="menu-item">
      {{ item.name }}
    </div>
  </div>
  <div class="about-content">
    <h1 *ngIf="selectedFooterMenuIndex != 1">{{ getCurrentFooterMenuName() }}</h1>
    <div *ngIf="selectedFooterMenuIndex === 0">
      <p>
        Ми віримо в силу слова та реп-музики як засобу вираження думок, емоцій та боротьби за своє місце у світі. Наш
        реп-баттл направлений на те, щоби знайти нові таланти та дати їм можливість розкритися у повному обсязі. Ми
        хочемо зробити реп-ком`юніті більш різноманітним та відкритим для кожного, хто має щось сказати і любить
        баттл-реп.
      </p>
      <p>
        Учасники реєструються на платформі, де проводиться баттл. Вони мають можливість подати свої треки, які вони
        готують у відповідності до теми та вимог раунду.
      </p>
      <p>
        Під час реєстрації на другий сезон ви обираєте свою роль «Учасник» або «Глядач». Це зроблено для голосування за
        кращий трек і панч раунду на сайті батлу. Будьте уважні: якщо ви оберете роль "Глядача", то здати трек на батл
        ви НЕ зможете!
      </p>
      <p>
        Після завершення реєстрації починається відбірковий раунд. Судді оцінюють подані аудіо-роботи з урахуванням
        якості текстів та виконання. Найкращі треки переходять до наступних етапів.
      </p>
      <p>
        Кількість відбіркових раундів - два. Незважаючи на кількість зданих треків у 1 раунді, в 2 раунд проходять 128
        виконавців.
      </p>
      <p>
        2 раунд буде важливим для розподілу на дивізіони. ТОП-32 по оцінкам 2-го відбіркового раунду проходять у 1/16
        першого дивізіону. Виконавці, які займуть з 33 по 64 місце в рейтингу оцінок 2-го раунду проходять у 1/16
        другого дивізіону.
      </p>
      <p>
        Формування пар відбуватиметься таким чином: виконавці діляться на дві корзини, враховуючи кількість набраних
        ними балів. Умовно Корзина А - це МС, які набрали 10-11 балів, Корзина Б - це МС, які набрали 8-9 балів
        відповідно. Пара складатиметься з МС з корзини А і МС з корзини Б. Розподіл на пари буде відбуватиметься за
        допомогою рандомайзеру або за згодою сторін (виклик на батл).
      </p>
      <p>
        Відповідно після 1/16 проходить 1/8, чвертьфінал, півфінал і фінал.
      </p>
      <p>
        Учасники оцінюються журі, яке складається з авторитетних і відомих осіб у батл-реп-середовищі.
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 2">
      <p>Максимальна оцінка за трек - 12 балів.</p>
      <p>
        Оцінка складається з трьох критеріїв - аудіальність (5 балів), текстуальність (5 балів), власне враження (2
        бали).
      </p>
      <p>
        Аудіальність - до цього критерію відносимо оцінювання всього, що сприймаємо на слух (біт, зведення, флоу
        виконавця, мелодика і ритміка).
      </p>
      <p>
        Текстуальність - цей критерій містить в собі оцінювання рим, панчлайнів, розкриття теми/направленності на
        опонента.
      </p>
      <p>
        Власне враження - критерій, який містить в собі суб'єктивний смак судді.
      </p>
      <p>
        У відборі в оцінках будуть впроваджені десятки (напр. 6.8, 9.2, 10.1) для кращого розмежування учасників. З 1/16
        судді можуть голосувати виключно цілими числами.
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 3">
      <p>
        Призовий фонд баттлу - <strong>150 000 грн.</strong>
      </p>
      <p>
        Винагороди розподіляються наступним чином:
      </p>
      <p>
        Переможець 1 дивізіону - <strong>100 000 грн</strong><br>
        Переможець 2 дивізіону - <strong>50 000 грн</strong>
      </p>
      <p>
        Нехай переможе найсильніший!
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 4">
      <p>
        1. Усвідомте що таке баттл-культура. Якщо певні її особливості несумісні з вашими життєвими принципами - краще
        не реєструйтесь. <strong>Все, що сказано на баттлі, лишається на баттлі.</strong>
      </p>
      <p>
        <strong>2. Вмійте визнавати поразку.</strong> Не вступайте в конфлікти з Суддями, Організаторами і суперниками.
        В разі порушень,
        вас буде <strong>забанено і недопущено</strong> до наступних сезонів баттлу.
      </p>
      <p>
        3. Треки, надані вами на батлі, можуть використовуватися в соц.мережах Exit Battle і платформах медійних
        партнерів і спонсорів.
      </p>
      <p>
        4. Мова виконання - виключно <strong>українська</strong>. Треки російською, англійською і рештою іноземних мов
        будуть
        <strong>дискваліфіковані</strong>.
      </p>
      <p>
        5. Треки, які не відповідатимуть вимогам раунду (порушення таймінгу, залучення іншого МС до виконання треку,
        здача ваших старих треків під виглядом нових і т.і.) можуть бути <strong>оштрафовані</strong> (зняття балів) або
        <strong>дискваліфіковані</strong>.
      </p>
      <p>
        6. За вказання в графі "Текст треку" недостовірної або іншої інформації, яка не має відношення до вашого тексту
        - <strong>штраф (зняття балів).</strong>
      </p>
      <p>
        7. Максимальна кількість знятих балів за штраф - <strong>3 бали</strong>. Бали вираховуються із
        <strong>СУМАРНОЇ</strong> оцінки суддів.
      </p>
      <p>
        8. Треки після завершення сроку здачі ваших аудіо-робіт <strong>НЕ ПРИЙМАЮТЬСЯ.</strong> Сроки здачі треків є
        завжди оптимальними
        для того, щоби встигнути написати текст, записати і звести трек і вчасно його завантажити.
      </p>
      <p>
        9. <strong>Суддя не може давати нічию в парі.</strong>
      </p>
      <p>
        10. Кількість балів не є основним аргументом для переходу в наступний раунд. Вирішальним моментом завжди є
        кількість судей, які віддали за вас голос. Наприклад: Виконавець А має 9 балів, Виконавець Б має 9.1 бал, але за
        А віддали голоси 3 судей, а за Б - двоє, то у наступний раунд проходить Виконавець А.
      </p>
      <p>
        11. Право вето введено в другому сезоні. Використовувати право вето може лише організатор батлу виключно у тому
        разі, коли він абсолютно не згоден із суддівськими рішеннями однієї конкретної пари. Вето може застосовуватися
        лише раз на весь сезон і не може застосовуватись у півфіналі і фіналі.
      </p>
      <p>
        12. <strong>Незнання правил заходу не звільняє вас від штрафів чи дискваліфікації.</strong>
      </p>
    </div>
    <div *ngIf="selectedFooterMenuIndex === 1">
      <div class="judges-container">
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Креско" height="1160" src="assets/images/judge_cresco.jpg" width="1161"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">CRESCO</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець Король Заходу</div>
              <div class="judge-achievement-item">Фіналіст 9 сезону Підбіт</div>
              <div class="judge-achievement-item">Півфіналіст 13 сезону Підбіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/iamcresco/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Тур" height="455" src="assets/images/judge_tur.jpg" width="456"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Тур</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Фіналіст RapSoxBattle Gold Cup</div>
              <div class="judge-achievement-item">Півфіналіст Король Заходу</div>
              <div class="judge-achievement-item">Півфіналіст 2 і 5 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/tur_rap/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>

        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Міша Правильний" height="749" src="assets/images/judge_misha.jpg" width="749"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Міша Правильний</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Головний редактор rap.ua (2021-2024)</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/misha_pravilniy/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Мамонт" height="433" src="assets/images/judge_mamont.jpg" width="433"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Мамонт</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Засновник баттлу Підбіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/mamontoman/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Влад Павлов" height="769" src="assets/images/judge_pavlov.jpg" width="769"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Влад Павлов</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Засновник SLOVO Харків</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/vlad_pavlov_kh/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Міша MRK" height="279" src="assets/images/judge_misha_mrk.jpg" width="279"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Міша MRK</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець 4 сезону Pit Bull Battle</div>
              <div class="judge-achievement-item">Фіналіст 3 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/mishanyamrk/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото XXV кадр" height="664" src="assets/images/judge_25_frame.jpg" width="664"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">XXV кадр</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Співзасновник HVNGL Project</div>
              <div class="judge-achievement-item">Переможець 1 сезону HVNGL Battle</div>
              <div class="judge-achievement-item">Фіналіст 7 сезону Pit Bull Battle</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/xxvkadr/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото SDU" height="1430" src="assets/images/judge_sdu.jpg" width="1430"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">SDU</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець 1 сезону Слово Харків</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/sdobrymutrom_kh/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото O3BROEN" height="781" src="assets/images/judge_ozbroen.jpg" width="781"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">O3BROEN</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Фіналіст 1 сезону Exit Battle</div>
              <div class="judge-achievement-item">Переможець 10 сезону батлу ПідБіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/ozbrn/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Полтавський Палій" height="749" src="assets/images/judge_palii.jpg" width="749"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">Полтавський Палій</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Переможець 1 сезону Exit Battle</div>
              <div class="judge-achievement-item">Переможець 7 сезону батлу ПідБіт</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/kuhar_shon/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
        <div class="judge-box">
          <div class="judge-photo">
            <img alt="Фото Михалич" height="714" src="assets/images/judge_mykhalych.jpg" width="714"/>
          </div>
          <div class="judge-info">
            <div class="judge-name">El_Micho</div>
            <div class="judge-achievements">
              <div class="judge-achievement-item">Півфіналіст PitBull Battle 2</div>
              <div class="judge-achievement-item">Півфіналіст PitBull Battle 3</div>
            </div>
          </div>
          <div class="judge-instagram">
            <a href="https://www.instagram.com/mihalich_brdk/" rel="noopener noreferrer" target="_blank">
              <img alt="Іконка інстаграм" height="24" src="assets/images/instagram.svg" width="24"/>
            </a>
          </div>
        </div>
      </div>
      <div class="judge-rounds-info">
        <p><strong>Відбіркові 1 і 2 раунди</strong> - CRESCO, Полтавський Палій, O3BROEN
        <p><strong>1/16 3 раунд</strong> - судді відбіркових раундів + El_Micho + Міша Правильний</p>
        <p><strong>1/8 4 раунд</strong> - судді 1/16 + Тур + Влад Павлов</p>
        <p><strong>1/4 5 раунд</strong> - судді 1/8 + SDU + Міша МРК</p>
        <p><strong>1/2 6 раунд</strong> - судді 1/4 + Мамонт + XXV Кадр</p>
        <p><strong>Фінал</strong> - судді всього батлу + 2 запрошених судді</p>
      </div>
    </div>
  </div>
</div>
