.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px 48px 32px;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.input-row {
  width: 342px;
  margin-top: 24px;
}

.input-row-last {
  width: 342px;
  margin-top: 16px;
}

.button {
  margin-top: 64px;
  margin-bottom: 12px;
  width: 160px;
}

.bottom {
  display: flex;
  color: rgba(255, 255, 255, 0.80);
  font-weight: 400;

  span {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;

    hr {
      border-radius: 4px;
      background: #C80F2E;
      height: 1px;
      border: none;
      margin-top: 4px;
    }
  }
}
