<div *ngIf="currentView === 'first'" class="rows">
  <h1>Увійти</h1>
  <div class="input-row">
    <app-input (value)="onPhoneNumber($event)" placeholder="Номер телефону" type="tel"/>
  </div>
  <div class="input-row-last" id="recaptcha-container" style="display: flex; justify-content: center"></div>
  <div class="button">
    <app-button (clicked)="signInWithPhoneNumber()" [red]="true" title="Продовжити"/>
  </div>
</div>

<div *ngIf="currentView === 'second'" class="rows">
  <h1>Увійти</h1>
  <div class="input-row">
    <app-input (value)="onVerificationCode($event)" placeholder="Код підтвердження"/>
  </div>
  <div class="button">
    <app-button (clicked)="confirmVerificationCode()" [red]="true" title="Підтвердити"/>
  </div>
</div>

<div *ngIf="currentView === 'third'" class="rows">
  <h1>Реєстрація</h1>
  <div class="input-row">
    <app-input (value)="onNickname($event)" placeholder="Нікнейм"/>
  </div>
  <div class="button">
    <app-button (clicked)="completeSignUp()" [red]="true" title="Завершити"/>
  </div>
</div>
