<div *ngIf="currentView === 'login'" class="rows">
  <h1>Увійти</h1>
  <div class="input-row">
    <app-input (value)="onEmail($event)" [width]="320" placeholder="Електронна пошта"/>
  </div>
  <div class="input-row-last">
    <app-input (value)="onPassword($event)" [type]="'password'" [width]="320" placeholder="Пароль"/>
  </div>
  <div class="button">
    <app-button (clicked)="login()" [red]="true" title="Увійти"/>
  </div>
  <div *ngIf="isRegistrationOpen()" class="bottom">
    Ще не створили аккаунт?&nbsp;<span (click)="changeViewToRegistration()">Реєстрація<hr/></span>
  </div>
  <div *ngIf="!isRegistrationOpen()" class="bottom">
    Відбір завершено. Реєстрація закрита.
  </div>
</div>
<div *ngIf="currentView === 'registration'" class="rows">
  <h1>Реєстрація</h1>
  <div class="input-row">
    <app-input (value)="onEmail($event)" [width]="320" placeholder="Електронна пошта"/>
  </div>
  <div class="input-row-last">
    <app-input (value)="onPassword($event)" [type]="'password'" [width]="320" placeholder="Пароль"/>
  </div>
  <div class="input-row-last">
    <app-input (value)="onNickname($event)" [width]="320" placeholder="Нікнейм"/>
  </div>
  <div class="button">
    <app-button (clicked)="signUp()" [red]="true" title="Продовжити"/>
  </div>
  <div class="bottom">
    Вже маєте аккаунт?&nbsp;<span (click)="changeViewToLogin()">Увійти<hr/></span>
  </div>
</div>
