<div class="audio-block">
  <media-controller audio>
    <audio (play)="onPlay($event)" [src]="track?.audioUrl" preload="none" slot="media"></audio>
    <media-control-bar>
      <media-play-button [style.cursor]="track != null ? 'pointer' : 'default'">
        <img [src]="track != null ? 'assets/images/play.svg' : 'assets/images/play-grey.svg'" alt="Старт" height="40"
             slot="play" style="height: 40px"
             width="40">
        <img alt="Пауза" height="40" slot="pause" src="assets/images/stop.svg" style="height: 40px" width="40">
      </media-play-button>
      <div class="metadata">
        <span>
          <span class="metadata-nickname">{{ track?.nickname }}</span>
          <span class="metadata-duration">{{ getDurationAsString() }}</span>
        </span>
      </div>
      <media-time-range></media-time-range>
    </media-control-bar>
  </media-controller>
  <ng-container *ngIf="canVote">
    <div
      (click)="vote()"
      [class.checked]="checked"
      [class.not-checked]="!checked"
      [style.cursor]="canVote ? 'cursor' : 'default'" class="mark">
      <div *ngIf="!checked">
        <img height="20" src="assets/images/vote-empty.svg" width="20">
      </div>
      <div *ngIf="checked">
        <img height="20" src="assets/images/vote-checked.svg" width="20">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!canVote">
    <div
      [class.checked]="isLeader()"
      [class.red]="!isLeader()"
      [style.cursor]="canVote ? 'cursor' : 'default'" class="mark">
      <div>
        {{ this.getPollResult() }}
      </div>
    </div>
  </ng-container>
</div>
