<ngx-spinner [fullScreen]="true" [size]="'large'"
             bdColor="rgba(0,0,0,0.5)"
             color="#fff">
  <p style="font-size: 24px; color: white">{{ spinnerText }}</p>
</ngx-spinner>

<img alt="Background" class="background-image" src="assets/images/background.jpg"/>

<div class="main-container">
  <div class="main-container-content">
    <div class="fancy-shit"></div>
    <app-header></app-header>
    <app-news></app-news>
    <app-tracks></app-tracks>
    <app-about></app-about>
    <app-footer></app-footer>
  </div>
</div>

<div *ngIf="showPollNotification && !pollNotificationClosed" class="poll-notification">
  <div class="poll-notification-content">
    <div (click)="openPollDialog()" class="poll-notification-text" style="cursor: pointer;">
      <div *ngIf="activePoll.status === PollStatus.ACTIVE" style=" display: flex; flex-wrap: wrap">
        <div>
          Триває <a class="poll-notification-text-underline">голосування</a> за&nbsp;
        </div>
        <div>{{ activePoll.name }}!</div>
      </div>
      <div *ngIf="activePoll.status === PollStatus.CLOSED" style=" display: flex; flex-wrap: wrap">
        <div>
          Вітаємо {{ activePoll.winner }} <a class="poll-notification-text-underline">з перемогою в номінації</a>&nbsp;
        </div>
        <div>{{ activePoll.nominationName }}!</div>
      </div>
    </div>
    <div (click)="pollNotificationClosed = true" class="poll-notification-close">
      <img alt="Close" height="24" src="assets/images/x.svg" width="24">
    </div>
  </div>
</div>
