<ngx-spinner [fullScreen]="true" [size]="'large'"
             bdColor="rgba(0,0,0,0.5)"
             color="#fff">
  <p style="font-size: 24px; color: white">{{ spinnerText }}</p>
</ngx-spinner>

<img alt="Background" src="assets/images/background.jpg" class="background-image"/>

<div class="main-container">
  <div class="main-container-content">
    <div class="fancy-shit"></div>
    <app-header></app-header>
    <app-news></app-news>
    <app-tracks></app-tracks>
    <app-about></app-about>
    <app-footer></app-footer>
  </div>
</div>

<div class="poll-notification" *ngIf="showPollNotification && !pollNotificationClosed">
  <div class="poll-notification-content">
    <div class="poll-notification-text">
      <div style="cursor: pointer;" (click)="openPollDialog()">
        Триває <a class="poll-notification-text-underline">голосування</a> за {{ activePoll.name }}!
      </div>
    </div>
    <div class="poll-notification-close" (click)="pollNotificationClosed = true">
      <img src="assets/images/x.png" alt="Close" width="24" height="24">
    </div>
  </div>
</div>
