<div [style.width]="width + 'px'" class="audio-block">
  <media-controller audio>
    <audio (play)="onPlay($event)" [src]="track.audioUrl" preload="none" slot="media"></audio>
    <media-control-bar>
      <media-play-button>
        <img alt="Старт" height="40" slot="play" src="assets/images/play.svg" style="height: 40px" width="40">
        <img alt="Пауза" height="40" slot="pause" src="assets/images/stop.svg" style="height: 40px" width="40">
      </media-play-button>
      <div class="metadata">
        <span class="metadata-nickname">{{track.nickname}}</span>
        <span class="metadata-duration">{{getDurationAsString()}}</span>
      </div>
      <media-time-range></media-time-range>
    </media-control-bar>
  </media-controller>
  <div (click)="openTrackInfo()" [class.not-passed]="!track.passedToNextRound"
       [class.passed]="track.passedToNextRound"
       [style.cursor]="clickable ? 'cursor' : 'default'" class="mark">
    <div class="total-mark">
      {{getTotalMark()}}
    </div>
    <div class="judges-count">
      {{track.marks.length}}/{{totalNumberOfJudges}}
    </div>
  </div>
</div>
