<div class="news-block" id="news">
  <div class="timer-block">
    <div class="timer-inner-block">
      <div class="timer-tittle">
        Раунд завершиться через
      </div>
      <div class="timer-boxes">
        <div class="number-box-container">
          <div class="number-box">{{days}}</div>
          <p>днів</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{hours}}</div>
          <p>годин</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{minutes}}</div>
          <p>хвилин</p>
        </div>
      </div>
      <div class="timer-block-buttons">
        <div style="min-width: 140px">
          <app-button (clicked)="openTrackUploadDialog()" [red]="true" title="Здати трек"></app-button>
        </div>
        <div style="min-width: 140px">
          <a href="/#tracks">
            <app-button title="Таблиця"></app-button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-block">
    <div class="news-title-block">
      <div class="news-title">
        <h1>Відбірковий раунд розпочато!</h1>
      </div>
      <div class="news-date">
        1 вересня, 2023
      </div>
      <div>
        <p>
          Вітаємо всіх любителів реп-музики та талановитих майстрів слова! Ми раді оголосити про старт першого
          україномовного реп аудіо-баттлу — події, яка об'єднує в собі відтінки конкуренції, мистецтва та музичної
          вітрилізації.
          <br>
          <br>
          Аби прийняти участь, необхідно записати трек на тему <strong>“Вадим придумає сам”</strong> та надіслати його
          нам до <strong>24/09</strong>. Максимальна тривалість композиції - <strong>90 секунд.</strong>
          Успіхів!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="news-block" style="margin-top: 24px;">
  <div class="bonus-block">
    <img alt="Бонус" height="1237" src="assets/images/bonus.png" width="2199">
  </div>
  <div class="text-block">
    <div class="news-title-block">
      <div class="news-title">
        <h1>Отримай додатковий бал за біт!</h1>
      </div>
      <div class="news-date">
        27 серпня, 2023
      </div>
      <div>
        <p>
          Кожен учасник може записати свій трек на відбір під будь-який біт, але щоб отримати додатковий бал до оцінки
          за трек, ви маєте записатися на біт від українських продюсерів: <strong>Elarm, MOEERR, James Hot Music, UGN,
          Split
          Beats, Cry Apachy, godblessXI.</strong>
          <br>
          <br>
          Кожен бітмейкер ексклюзивно надав один свій біт. Плейлист з цими бітами ви можете знайти на сторінці <a
          href="https://soundcloud.com/exitbattle" rel="noopener noreferrer" target="_blank">Exit Battle в
          Soundcloud</a>
          <br>
          <br>
          Щоби скачати біт у високій якості, натисніть "More" - "Download file".
          <br>
          <br>
          Бажаємо успіхів!
        </p>
      </div>
    </div>
  </div>
</div>
