<div class="news-block" id="news">
  <div class="timer-block">
    <div class="timer-inner-block">
      <div class="timer-tittle">{{getTimerText()}}</div>
      <div class="timer-boxes">
        <div class="number-box-container">
          <div class="number-box">{{days}}</div>
          <p>днів</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{hours}}</div>
          <p>годин</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{minutes}}</div>
          <p>хвилин</p>
        </div>
      </div>
      <div class="timer-block-buttons">
        <div style="min-width: 140px">
          <app-button (clicked)="openTrackUploadDialog()" [red]="true" title="Здати трек"></app-button>
        </div>
        <div style="min-width: 140px">
          <div style="width: 100%">
            <a href="/#tracks">
              <app-button title="Таблиця"></app-button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-block">
    <div class="news-title-block">
      <div class="news-title">
        <h1>Другий відбірковий раунд розпочато!</h1>
      </div>
      <div class="news-date">
        3 жовтня, 2023
      </div>
      <div>
        <p>
          <strong>Тема</strong> другого раунду - <strong>“Контрольна робота”.</strong>
          <br>
          <br>
          <strong>Завдання</strong> на раунд: трек має містити <strong>схему по одному зі шкільних предметів</strong>,
          який ви обираєте <strong>на власний розсуд.</strong>
          Тобто <strong>всі панчі треку</strong> мають бути лише на одну тематику (мова, історія, географія, тощо)
          <br>
          <br>
          Термін здачі треку до <strong>24/10 включно.</strong> Максимальна тривалість композиції - <strong>2
          хвилини.</strong><strong> Суддя раунду - CRESCO.</strong>
          <br>
          <br>
          Успіхів!
        </p>
      </div>
    </div>
  </div>
</div>
