<div class="news-block" id="news">
  <div class="timer-block">
    <div class="timer-inner-block">
      <div class="timer-tittle">{{ getTimerText() }}</div>
      <div class="timer-boxes">
        <div class="number-box-container">
          <div class="number-box">{{ days }}</div>
          <p>днів</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{ hours }}</div>
          <p>годин</p>
        </div>
        <div class="number-box-container">
          <div class="number-box">{{ minutes }}</div>
          <p>хвилин</p>
        </div>
      </div>
      <div class="timer-block-buttons">
        <div style="min-width: 140px">
          <app-button (clicked)="openTrackUploadDialog()" [red]="true" title="Здати трек"></app-button>
        </div>
        <div style="min-width: 140px">
          <div style="width: 100%">
            <a href="/#tracks">
              <app-button title="Таблиця"></app-button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-block">
    <div class="news-title-block">
      <div class="news-title">
        <h1>Відбірковий раунд розпочато!</h1>
      </div>
      <div class="news-date">
        10 вересня, 2024
      </div>
      <div>
        <p>
          <strong>Тема</strong> першого раунду - <strong>“Пропущений виклик”.</strong>
          <br>
          <br>
          <strong>Термін</strong> здачі треку до <strong>10/10 включно.</strong> Максимальна тривалість композиції -
          <strong>100 секунд.</strong>
          <br>
          <br>
          <strong>Судді раунду - CRESCO, Полтавський Палій, O3BROEN</strong>
          <br>
          <br>
          Бажаємо успіхів!
        </p>
      </div>
    </div>
  </div>
</div>
