<div class="track-info-container">
  <div class="track-info-title">
    <h1>Коментарі та оцінки</h1>
  </div>
  <div style="width: 100%">
    <app-audio [totalNumberOfJudges]="this.totalNumberOfJudges" [track]="track"></app-audio>
  </div>
  <div class="track-info-menu">
    <div
      (click)="selectMarksMenuItem()"
      [ngClass]="{'track-info-menu-item-selected ': selectedMenuItem === 'marks', 'track-info-menu-item-unselected' : selectedMenuItem === 'lyrics'}"
      class="track-info-menu-item">
      Оцінки {{ track.marks.length }}/{{ totalNumberOfJudges }}
    </div>
    <div
      (click)="selectLyricsMenuItem()"
      [ngClass]="{'track-info-menu-item-selected ': selectedMenuItem === 'lyrics', 'track-info-menu-item-unselected' : selectedMenuItem === 'marks'}"
      class="track-info-menu-item">
      Текст
    </div>
  </div>

  <div [hidden]="selectedMenuItem !== 'marks'" class="parent-marks-container">
    <div *ngFor="let mark of track.marks" class="mark-container">
      <div class="track-judge-container">
        <div class="track-judge-icon">
          <img [src]="getJudgeIconUrl(mark)" alt="Фото судді" height="64" width="64"/>
        </div>
        <div class="track-judge-name">
          {{ mark.judgeName }}
        </div>
      </div>
      <div class="mark-content-container">
        <div [innerHtml]="getMarkText(mark)" class="mark-text"></div>
        <div class="mark-numbers-container">
          <div class="left-marks-numbers">
            <div class="mark-block mr-8">
              Аудіальність: {{ mark.performance }}
            </div>
            <div class="mark-block mr-8">
              Текст: {{ mark.content }}
            </div>
            <div class="mark-block">
              ЗВ: {{ mark.generalImpression }}
            </div>
          </div>
          <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
            <div class="mark-block">
              Загалом: {{ (mark.performance + mark.content + mark.generalImpression) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedMenuItem === 'lyrics'" [innerHtml]="lyrics" class="track-lyrics">
  </div>
</div>
