<audio (loadedmetadata)="onMetadata($event)" *ngIf="fileUrl && !readMetadata"
       [src]="fileUrl"
       preload="metadata"
       style="visibility: hidden">
</audio>
<div class="upload-dialog">
  <div class="upload-title">
    <h1>Здати трек</h1>
  </div>
  <div class="outer-file-upload">
    <input (change)="onFileSelected($event)" [multiple]="false" accept="audio/mpeg" type="file"/>
    <div class="inner-file-upload">
      <div class="upload-btn">
        <img alt="Іконка завантаження" height="24" src="assets/images/upload.svg" width="24">
        <span *ngIf="file == null">Завантажити файл...</span>
        <span *ngIf="file != null">{{file.name}}</span>
      </div>
      <div class="upload-max-size">
        < {{currentRound.maxFileUploadSizeInMb}} MB
      </div>
    </div>
  </div>

  <div class="duration-disclaimer">
    Тривалість композиції: до {{currentRound.maximumTrackDurationInSeconds - 1}} секунд.
  </div>

  <div class="lyrics">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [disabled]="false" [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <ngx-editor (ngModelChange)="onLyricsInput($event)" [editor]="editor" [ngModel]="html"
                  [placeholder]="'Текст треку...'"></ngx-editor>
    </div>
  </div>

  <div class="upload-disclaimer">
    Надіславши трек, ви не зможете його відредагувати, перездати, тощо.
  </div>

  <div class="confirm-button">
    <div style="min-width: 160px">
      <app-button (clicked)="publishTrack()" [red]="true" [title]="'Здати трек'"></app-button>
    </div>
  </div>
</div>
